
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    <h1>Choose copyright page</h1>
    <form action="/edit/copyright-page", method="post">
      {% csrf_token %}
      {% for page in pages %}
        <label>
            <input type="radio" name="page_number" value="{{page.number}}">
            <img src="{{page.thumbnail.url}}" alt="">
        </label>
        <input type="hidden" name="book_uuid" value="{{book.uuid}}">
      {% endfor %}
      <input type="submit" value="Submit">
    </form>
  </body>
</html>
