<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My test page</title>
  </head>
  <body>
    <h1>Processing Stages</h1>
    <p>There are {{ book_count }} books.</p>
    <div>
      <h2>Automatic Fields</h2>
      <ul>
        <li>Scan color checked: {{ book_check_counts.SCAN_COLOR|default:0 }}</li>
        <li>Has vector text checked: {{ book_check_counts.HAS_VECTOR_TEXT|default:0 }}</li>
      </ul>
    </div>
    <div>
      <h2>Basic info</h2>
      <ul>
        <li><a href="/edit/title-page">Title page checked:</a> {{ book_check_counts.TITLE_PAGE|default:0 }}</li>
        <li><a href="/edit/copyright-page">Copyright page checked:</a> {{ book_check_counts.COPYRIGHT_PAGE|default:0 }}</li>
        <li>Printing page checked: {{ book_check_counts.PRINTING_INFO_PAGE|default:0 }}</li>
        <li>Topics checked: {{ book_check_counts.TOPICS|default:0 }}</li>
        <li>Enter page offset: {{ book_check_counts.NUMBERS_OFFSET|default:0 }}</li>
        <li>Enter roman numeral page offset: {{ book_check_counts.ROMAN_NUMBERS_OFFSET|default:0 }}</li>
      </ul>
    </div>
    <div>
      <h2>Bibliographic Info</h2>
        <ul>
          <li>Title checked: {{ book_check_counts.TITLE|default:0 }}</li>
          <li>Subtitle checked: {{ book_check_counts.SUBTITLE|default:0 }}</li>
          <li>Contributions checked: {{ book_check_counts.CONTRIBUTIONS|default:0 }}</li>
          <li>Volume number checked: {{ book_check_counts.VOLUME_NUMBER|default:0 }}</li>
          <li>Edition number checked: {{ book_check_counts.EDITION_NUMBER|default:0 }}</li>
          <li>Issue number checked: {{ book_check_counts.ISSUE_NUMBER|default:0 }}</li>
          <li>Series checked: {{ book_check_counts.SERIES|default:0 }}</li>
          <li>Cities checked: {{ book_check_counts.CITIES|default:0 }}</li>
          <li>Publishing frequency checked: {{ book_check_counts.PUBLISHING_FREQUENCY|default:0 }}</li>
        </ul>
        <ul>
          <li>Date published checked: {{ book_check_counts.DATE_PUBLISHED|default:0 }}</li>
          <li>In copyright checked: {{ book_check_counts.IN_COPYRIGHT|default:0 }}</li>
          <li>Copyright years checked: {{ book_check_counts.COPYRIGHT_YEARS|default:0 }}</li>
          <li>Has ligatures checked: {{ book_check_counts.HAS_LIGATURES|default:0 }}</li>
          <li>Publishers checked: {{ book_check_counts.PUBLISHERS|default:0 }}</li>
          <li>Printing number checked: {{ book_check_counts.PRINTING_NUMBER|default:0 }}</li>
        </ul>
        <ul>
          <li>Printer checked: {{ book_check_counts.PRINTERS|default:0 }}</li>
        </ul>
        <ul>
          <li>Sections checked: {{ book_check_counts.SECTIONS|default:0 }}</li>
          <li>Graphics checked: {{ book_check_counts.GRAPHICS|default:0 }}</li>
          <li></li>
        </ul>
    </div>
    <div>
      <h2>Sections</h2>
      <ul>
        <li>Choose section kinds: {{ section_check_counts.KIND|default:0 }}</li>
        <ul>
          <li>Choose which are chapters</li>
          <li>Enter other section kinds</li>
        </ul>
        <li>Are any sections by different contributors? {{ section_check_counts.CONTRIBUTIONS|default:0 }}</li>
        <li>Enter kind in book {{ section_check_counts.KIND_IN_BOOK|default:0 }}</li>
        <li>Enter for checkion {{ section_check_counts.EDITION|default:0 }}</li>
        <li>Enter section number {{ section_check_counts.NUMBER|default:0 }}</li>
        <li>Enter section title {{ section_check_counts.TITLE|default:0 }}</li>
        <li>Enter section topics {{ section_check_counts.TOPICS|default:0 }}</li>
      </ul>
    </div>
    <div>
      <h2>Graphics</h2>
      <ul>
        <li>Draw graphic box with text {{ graphic_check_counts.BOX_WITH_TEXT|default:0 }}</li>
        <ul>
          <li>Choose graphic kind {{ graphic_check_counts.KIND|default:0 }}</li>
          <li>Enter graphic number {{ graphic_check_counts.KIND|default:0 }}</li>
          <li>Enter title {{ graphic_check_counts.TITLE|default:0 }}</li>
          <li>Enter caption {{ graphic_check_counts.CAPTION|default:0 }}</li>
          <li>Enter graphic medium {{ graphic_check_counts.MEDIUM|default:0 }}</li>
          <li>Enter graphic contents {{ graphic_check_counts.CONTENT|default:0 }}</li>
          <li>Enter print color {{ graphic_check_counts.PRINT_COLOR|default:0 }}</li>
          <li>Enter artists {{ graphic_check_counts.ARTISTS|default:0 }}</li>
          <li>Draw box without text {{ graphic_check_counts.BOX|default:0 }}</li>
        </ul>
      </ul>
    </div>
    <div>
      <h2>OCR corrections</h2>
      <ul>
        <li>enter other languages: {{ check_counts.OTHER_LANGUAGES|default:0 }}</li>
        <li>delete empty boxes</li>
        <li>Mark words incorrect</li>
        <ul>
          <li>look page by page for incorrect words</li>
          <li>look at lowest confidence words to mark incorrect</li>
        </ul>
        <li>Fix incorrect words</li>
        <ul>
          <li>ligature fix bot</li>
          <li>dictionary bot</li>
          <li>bert bot</li>
          <li>previous suggestions</li>
          <li>manually type in corrections</li>
        </ul>
      </ul>
    </div>
  </body>
</html>
